kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ acm_crb_name }}"
subjects:
  - kind: User
    apiGroup: rbac.authorization.k8s.io
    name: "{{ acm_crb_user }}"
  - kind: Group
    apiGroup: rbac.authorization.k8s.io
    name: "{{ acm_crb_group }}"
  - kind: ServiceAccount
    apiGroup: rbac.authorization.k8s.io
    name: "{{ acm_crb_user }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "open-cluster-management:admin:{{ managed_cluster_name }}"
